<div class="cover-index">
    <div class="container d-flex flex-column align-items-center">
        <div class="row mt-5">
            <h1 class="font-weight-normal">DM一覧</h1>
        </div>
        <div class="row mt-5 w-100">
            <% @rooms.each do |room| %>
                <div class="col-sm-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                            <% room.entries.each do |entry| %>
                                <% if entry.user != current_user %>
                                    <%= link_to user_path(entry.user), class: "text-decoration-none text-dark" do %>
                                        <div class="d-flex align-items-center">
                                            <%= attachment_image_tag entry.user, :profile_image, size: '50x50', fallback: "no_image.svg", class: "rounded-circle" %>
                                            <h5 class="ml-3 mb-0"><%= entry.user.name %></h5>
                                        </div>
                                    <% end %>
                                <% end %>
                            <% end %>
                            <div class="mt-2">
                                <%= link_to "DMを開く", room_path(room), class: "btn btn-primary" %>
                            </div>
                        </div>
                    </div>
                </div>
            <% end %>
        </div>
    </div>
</div> 