.title {
    font-family: Georgia;
}
  
.sub-title {
    font-family: serif;
}
  
.cover {
    min-height: 100vh;
    width: 100%;
    display: table;
}
  
.text-center {
    display: table-cell;
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
}