.title {
    font-family: Georgia;
}
  
.sub-title {
    font-family: serif;
}
  
.cover {
    min-height: 100vh;
    width: 100%;
    display: table;
}
  
.text-center {
    display: table-cell;
    vertical-align: middle;
}

body {
    margin: 0;
    padding: 0;
}

.top-background {
    background-image: url(/assets/top_kari.JPG);
    background-color:rgba(255,255,255,0.4);
    background-blend-mode:lighten;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed; /* 任意。スクロール時の固定感を出すならあり */
}