h1 {
    font-family: serif;
}

.cover-new {
    height: 110%;
    width: 100%;
    background-image: url(/assets/new_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.form-label {
    font-size: 20px;
}

.form-group {
    width: 600px;
}

.cover-index {
    height: 100%;
    width: 100%;
    background-image: url(/assets/index_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.one-post img:hover {
    transform: scale(1.1,1.1);
}

.caption {
    color: black;
    font-size: 20px;
    text-decoration: none;
}

.index-left {
    margin-left: 2.5rem!important;
}

.cover-show {
    height: 100%;
    width: 100%;
    background-image: url(/assets/show_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

#text {
    font-size: 18px;
}

.cover-edit {
    height: 100%;
    width: 100%;
    background-image: url(/assets/edit_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.page a,
.next a,
.last a,
.first a,
.prev a {
    color: black;
    margin-left: 10px;
    margin-right: 10px;
}

.page a:hover,
.next a:hover,
.last a:hover,
.first a:hover,
prev a:hover {
    color: black;
}

.current {
    font-weight: bold;
}

.comments-index {
    background-color: #fff;
    border: 1px #000 solid;
}

.comment-delete {
    margin-left: auto;
}

.comments {
    margin-left: 50px;
}

.caption {
    margin-bottom: 0;
}

.favorite_btn {
    color: #000000;
    font-size: 20px;
    text-decoration: none;
    margin: 0;
}

.introduction-title {
    color: #000080;  // 紺色
    font-weight: bold;
}

.post-author {
    font-size: 24px;
    font-weight: bold;
}

.post-title {
    font-size: 22px;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 4px;
    margin: 10px 0;
}

.post-title + br {
    display: none;
}

.category-select {
    width: 252px;
    height: 30px;
    padding: 0 10px;
    border: 1px solid #ced4da;
    border-radius: 4px;
    background-color: white;
}

.image-thumb {
    max-width: 210px!important;
    max-height: 160px;
    object-fit: cover;
    object-position: center;
}

.ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: block;
    width: 100%; 
}

.preview-image {
    max-height: 220px;
    max-width: 100%;
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
}

.single-image-limit {
    max-height: 500px;
    width: auto;
}

.rounded-circle:hover {
    box-shadow: 0 0 0 1px aqua;
}