.container {
    overflow-x: hidden;
}

.message-container {
    margin-bottom: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;

    .message-inner {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 800px;
        padding: 0 10%;
  
        @media (max-width: 992px) {
            padding: 0 5%;
        }

        @media (max-width: 768px) {
            padding: 0 5%;
        }
  
        @media (max-width: 576px) {
            padding: 0 3%;
        }
    }
}
  
.user-icon {
    width: 40px;
    height: 40px;
    flex-shrink: 0;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
  
.my-message .message-inner {
    flex-direction: row-reverse;
}

.my-message {
    justify-content: flex-end;
}

.other-message {
    justify-content: flex-start;
}

.message-content {
    padding: 8px 12px;
    border-radius: 15px;
    word-wrap: break-word;
    white-space: normal;
    max-width: 65%;
}

.my-message .message-content {
    background-color: #2196f3;
    color: white;
    order: 1;
}

.other-message .message-content {
    background-color: #e0e0e0;
    order: 2;
}

.user-name {
    font-size: 0.8rem;
    color: #666;
}

.user-icon img {
    border: 2px solid #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    flex-shrink: 0;
}

.alert-danger {
    width: 50%;
    margin: 0 auto;
}

.truncate-message {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    vertical-align: middle;
    max-width: 720px;
}

.message-timestamp {
    margin-top: 2px;
    font-size: 0.8rem;
}

.responsive-card-row {
    width: 60%;

    @media (max-width: 992px) {
        width: 70%;
    }
  
    @media (max-width: 768px) {
        width: 80%;
    }
  
    @media (max-width: 576px) {
        width: 90%;
    }
}
  