.profile {
    padding: 15px;
}

.image-thumb {
    max-width: 300px;
    max-height: 165px;
    object-fit: cover;
    object-position: center;
}

.draft-card {
    background-color: #cccccc !important;
    color: #212529;
}

.user-caption {
    font-size: 16px;
    text-decoration: underline; // 下線戻すなら
    color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}  

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
}

.user-ellipsis {
    max-width: clamp(160px, 60%, 640px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.user-card-link {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
  
    &:hover {
      color: aqua;
    }
  
    .user-name, .user-profile {
      color: inherit;
    }
  }
  
  .user-posts {
    color: black;
  
    .user-card-link:hover & {
      color: aqua;
    }
  }

.user-text-box {
    max-width: 100%;
    flex: 1;
    min-width: 0;
}