.cover-user-show {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-index {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(/assets/users_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.cover-user-edit {
    min-height: 100vh;
    height: 100%;
    width: 100%;
    background-image: url(/assets/mypage_edit_kari.JPG);
    background-color: rgba(255, 255, 255, 0.4);
    background-blend-mode: lighten;
    background-size: 100% 100%;
}

.profile {
    padding: 15px;
}

.image-thumb {
    max-width: 300px;
    max-height: 165px;
    object-fit: cover;
    object-position: center;
}

.draft-card {
    background-color: #cccccc !important;
    color: #212529;
}

.user-caption {
    font-size: 16px;
    text-decoration: underline; // 下線戻すなら
    color: black;
    text-decoration-thickness: 1px;
    text-underline-offset: 3px;
}  

.rounded-circle {
    border-radius: 50%;
    object-fit: cover;
}

.user-ellipsis {
    max-width: clamp(160px, 60%, 640px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
}

.user-card-link {
    color: black;
    text-decoration: underline;
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
  
    &:hover {
      color: aqua;
    }
  
    .user-name, .user-profile {
      color: inherit;
    }
  }
  
  .user-posts {
    color: black;
  
    .user-card-link:hover & {
      color: aqua;
    }
  }
  